*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 65.5%;
}
body{
    background: linear-gradient(rgb(109, 4, 31), rgb(147, 20, 20),rgb(85, 5, 5)) ; /*Fondo degradado*/
    display: flex;
    justify-content: center;
    font-size: 16px;
    height: 100vh;
    width: 100%;
    font-family: 'Cormorant Upright', serif;
}

.contenedor-header{
    padding-right: auto;
    
}


.main-menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

<<<<<<< HEAD

@media screen and (min-width: 600px){ 
    .menu-hambur{
        flex-direction: row;
    
    }
}

@media screen and (min-width: 600px){
    .main-menu{
        flex-direction: row;
        
    }
}
=======


>>>>>>> 0575a1d18ae619169dc9b483d88ef6ae374b2cf2


.main-menu-item{
    padding: 1.5rem;
    
}

.main-menu-link{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(190, 64, 96, 0.507);
    padding: 15px 20px;
    border-radius: 3px;
    box-shadow: 5px 5px 25px 5px #000000;
}
.main-menu-link:hover{
    background-color: rgb(129, 9, 25);
    transition: 0.5s all;
    transform: scale(2);
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

h2{
  text-align: center; 
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
}

form{
   background-color: rgba(255, 255, 255, 0.1);
   width: min(60rem, 100%);
   border-radius: 2rem;
   box-shadow: 7px 13px 37px; /*Sombreado*/
   position: relative;
   overflow: hidden;
   margin: 2rem 0 0 0;
}

legend{
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 2rem;
    padding-top: 4rem;
    font-weight: 900;
    text-transform: uppercase;
}

form fieldset{
    border: none;
    padding: 3rem;
    width: 600px;
 
}

form::before{
    content: '';
    position: absolute;
    justify-content: center;
    height: 100%;
    background: (235, 228, 228, 0.0.034);
    width: 2%;
    box-shadow: 0px 0px 50rem;
}



.contenedor{
   padding: 15rem;
}

.campo{
    margin-bottom: 2rem;
}


.campo input{
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    border: none;
    border-radius: 2rem;
    height: 4rem;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
}

textarea{
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    border: none;
    border-radius: 2rem;
    height: 15rem;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
}

textarea::placeholder{
    color: rgba(238, 229, 229, 0.74);
    padding-left: 2rem;
    font-family: 'Cormorant Upright', serif;
}

input::placeholder{
    color: rgba(238, 229, 229, 0.74);
    padding-left: 2rem;
    font-family: 'Cormorant Upright', serif;
}

input:hover{
    background-color: rgba(255, 255, 255, 0.308);
}
textarea:hover{
    background-color: rgba(255, 255, 255, 0.308);
}


.boton{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.botonPrincipal{
    font-family: 'Cormorant Upright', serif;
    border: none;
    width: 40%;
    color: white;
    font-size: 2rem;
    border-radius: 2rem;
    margin: 2rem 0 0 0;
    height: 4rem;
    font-weight: 800;
    background-color: rgb(109, 4, 31, 0.6);
    box-shadow: 5px 5px 25px 5px #000000;
}


a{
    text-decoration: none;
    color: white;
}


.botonPrincipal:hover{
    cursor: pointer;
    color: rgb(147, 20, 20);
    background-color: white;
}

@media screen and (max-width:900px){
    header{
        justify-content: center;

    }
    
}

@media screen and (max-width:480px){
    .main-menu{
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    form {
        width: 300px;
        width: 300px;
        justify-content: center;
    }
    h2{
        font-size: 2rem;
        text-align: center;
    }
    legend{
        
        font-size: 1.5rem;
        text-align: left;
    }
    /* .contenedorDiv{
        text-align: center;
        width: 250px;
        width: 250px;
        justify-content: center;
    } */
    .boton {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
    }
    .botonPrincipal{
        align-items: left;
    }
    .contenedor{
        padding: 15rem;
     }
     
     .campo{
         margin-bottom: 2rem;
     }
     
     
     .campo input{
         background-color: rgba(255, 255, 255, 0.15);
         width: 50%;
         border: none;
         border-radius: 2rem;
         height: 2rem;
         color: white;
         text-align: center;
         font-weight: 200;
         font-size: 1.5rem;
     }
     textarea{
        width: 250px;
        font-size: 1.5rem;
     }


    
}