*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 65.5%;
}
body{
    background: linear-gradient(rgb(109, 4, 31), rgb(147, 20, 20),rgb(85, 5, 5)); /*Fondo degradado*/
    display: flex;
    justify-content: center;
    font-size: 16px;
    height: 100vh;
    width: 100%;
    font-family: 'Cormorant Upright', serif;
}

.contenedor-header{
    padding-right: auto;
    
}

nav{
    padding: 20px 0 0 0;
}

.nav-enlace{
    margin: 10px;
    padding: 60px 0; /*Espacio entre elementos*/
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.505);
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5%;
    font-size: 18px;
}

.nav-enlace:hover{
    font-size: 1.7rem; 
    transition: 0.5s all;
    transform: scale(1.1);
} 

.menu-horizontal{
    list-style: none; /*Saca los puntos de la lista*/
    display: flex;
    justify-content:center; /*Pone el menú a la derecha*/
}


.menu-vertical{
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 2%;
    font-size: 1.40rem;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 118px;
    background-color: rgba(0, 0, 0, 0.505);
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li a{
    display: block;
    color: white;
    padding: 10px 10px 10px 10px;
}


h2{
  text-align: center; 
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
}

form{
   background-color: rgba(255, 255, 255, 0.1);
   width: min(60rem, 100%);
   border-radius: 2rem;
   box-shadow: 7px 13px 37px; /*Sombreado*/
   position: relative;
   overflow: hidden;
   margin: 2rem 0 0 0;
}

legend{
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 2rem;
    padding-top: 4rem;
    font-weight: 900;
    text-transform: uppercase;
}

form fieldset{
    border: none;
    padding: 3rem;
    width: 600px;
 
}

form::before{
    content: '';
    position: absolute;
    justify-content: center;
    height: 100%;
    background: (235, 228, 228, 0.0.034);
    width: 2%;
    box-shadow: 0px 0px 50rem;
}



.contenedor{
   padding: 15rem;
}

.campo{
    margin-bottom: 2rem;
}


.campo input{
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    border: none;
    border-radius: 2rem;
    height: 4rem;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
}

textarea{
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    border: none;
    border-radius: 2rem;
    height: 15rem;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
}

textarea::placeholder{
    color: rgba(238, 229, 229, 0.74);
    padding-left: 2rem;
    font-family: 'Cormorant Upright', serif;
}

input::placeholder{
    color: rgba(238, 229, 229, 0.74);
    padding-left: 2rem;
    font-family: 'Cormorant Upright', serif;
}

input:hover{
    background-color: rgba(255, 255, 255, 0.308);
}
textarea:hover{
    background-color: rgba(255, 255, 255, 0.308);
}


.boton{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonPrincipal{
    font-family: 'Cormorant Upright', serif;
    border: none;
    width: 40%;
    color: white;
    font-size: 2rem;
    border-radius: 2rem;
    margin: 2rem 0 0 0;
    height: 4rem;
    font-weight: 800;
    background-color: rgb(109, 4, 31, 0.6);
}


a{
    text-decoration: none;
    color: white;
}

a:hover{
    cursor: pointer;
    color: rgb(109, 4, 31);
    font-size: 2rem;
}

.botonPrincipal:hover{
    cursor: pointer;
    color: rgb(147, 20, 20);
    background-color: white;
}




