html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background: #9e0221;
    background: -webkit-linear-gradient(to right, #9e0221, #680034);
    background: linear-gradient(to right, #9e0221, #660033);
}

.main-menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    align-items: left;
    justify-content: left;
    display: flex;
    flex-direction: column;
    align-items: left;
}



@media screen and (min-width: 768px){
    .main-menu{
        flex-direction: row;
    }
}

.main-menu-item{
    padding: 1rem;
}

.main-menu-link{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(226, 75, 113, 0.507);
    padding: 12px 18px;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 25px;
}
.main-menu-link:hover{
    background-color: rgba(77, 0, 13, 0.856);
    transition: 0.5s all;
    transform: scale(2);
}

nav{
    text-align: right;
    padding: 10px 30px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

.title{
    text-align: center;
    font-size: 70px;
    color:white;
    margin-top: 30px;
    font-weight: 100;
    font-weight: bold;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 330px;
    height: 540px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}

.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 700;
    text-decoration: none;
    color:white;
    font-weight: bold;
}

.comprar{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    background-color: #b10c2de0;
    padding: 10px 15px;
    border-radius: 3px;
    font-family: sans-serif;
}

.comprar:hover{
    background-color: rgb(70, 0, 12);
    transition: 0.5s all;
    transform: scale(2);
}

.card{
    background-color: white;
}