*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(rgb(109, 4, 31), rgb(138, 12, 29),rgb(105, 0, 40)); /*Fondo degradado*/
}
img {
    width: 400px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 7px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}
h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}
h3{
    font-size: 25px;
    margin: auto;
    
}

#boton-carrito {
    border: none;
    color: #9e0221;
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: #9e0221;
}
#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content:center;
    text-align: center;
}


p {
    line-height: 2;
    font-size: 20px;
    text-align: center;
}
.producto {
    max-width: 30%;
    padding: 30px;
    margin: 30px;
    margin-bottom: 10px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;

}
.producto:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.precioProducto {
    font-weight: 700;
    width: 100%;
}
.boton-agregar {
    width: 100%;
    background-color:#9e0221;
    color: white;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    margin: 20px 80px 10px;
}
.boton__agregar__carrito{
    width: 50%;
    background-color:#9e0221;
    color: white;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    border-radius: 15px;
    margin-left: 150px;
    
}

.boton-agregar:hover {
    cursor: pointer;
    background-color: rgb(70, 0, 12);
    transition: 0.5s all;
    transform: scale(1.05);
}
.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: #9e0221;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #9e0221;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid #9e0221;
}

.boton-eliminar {
    background-color: white;
    color: #9e0221;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}
@media only screen and (min-width:320px) and (max-width:768px){

	#contenedor-productos, .producto{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        max-width: 100%;
        padding: 30px;
        margin: 30px;
        margin-bottom: 10px;

	}
	
}